/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

html {
  scroll-behavior: smooth;
}

main::-webkit-scrollbar {
  width: 8px;
}
main::-webkit-scrollbar-track {
  background: #1f2937; 
}
main::-webkit-scrollbar-thumb {
  background-color: #33FF77; 
  border-radius: 4px;
}

